/* * * * * * *
 * Rosé Pine *
 * * * * * * */
$themeBackground: #191724;
$themeForeground: #e0def4;
$themeHighlight: #2a2837;
$themeBlack: #26233a;
$themeBlue: #9ccfd8;
$themeCyan: #ebbcba;
$themeGreen: #31748f;
$themePurple: #c4a7e7;
$themeRed: #eb6f92;
$themeWhite: #e0def4;
$themeYellow: #f6c177;
$themeBrightBlack: #6e6a86;
$themeBrightBlue: #9ccfd8;
$themeBrightCyan: #ebbcba;
$themeBrightGreen: #31748f;
$themeBrightPurple: #c4a7e7;
$themeBrightRed: #eb6f92;
$themeBrightWhite: #e0def4;
$themeBrightYellow: #f6c177;
