@import "./colors.scss";
@import "./variables.scss";
@import "./mixins.scss";


html,body,p,ol,ul,li{
    margin: 0;
    padding: 0;
}

body {
    background-color: $themeBackground;
    color: $themeForeground;
    padding-top: $topMenuHeight + $mediumSpacing;
}

a {
    color: $themeBrightCyan;

    &:visited {
        color: $themeCyan;
    }

    &:hover {
        color: $themeRed;
    }
}

header#guest-header, header#app-header {
    @include fixedTopHeader($topMenuHeight);
}

#app-root {
    align-items: start;
    display: flex;

    #app-sidebar {
        flex: 1 1 200px;
        min-width: 100px;
        max-width: 400px;
    }

    #main-content {
        flex: 1 1 100%;
    }
}
