@import "./colors.scss";
@import "./variables.scss";

@mixin fixedTopHeader($height: 50px) {
    display: flex;
    height: $height;
    gap: $smallSpacing;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    nav {
        flex-grow: 1;

        ul {
            li {
                list-style: none;
            }
        }
    }
}
