html,body,ul,ol,li,p{margin:0; padding:0;}
body { padding-top: 64px; }

/* * * * * * *
 * Anonymous *
 * * * * * * */
header#guest-header {
    display: flex;
}

header#guest-header nav#guest-menu {
    margin-left: 8px;
}

header#guest-header nav ul {
    list-style: none;
}

/* * * * * * * * *
 * Authenticated *
 * * * * * * * * */

header#app-header {
    display: flex;
    gap: 8px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

header#app-header nav#app-menu {
    flex-grow: 1;
}

header#app-header li.menu-item { list-style: none; }
